{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Our Blog-UOE</title>
        <link rel="icon" href="{% static 'images/uoe_logo_2.jpg' %}">
        <link rel="stylesheet" href="{% static 'css/uoe.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Font1&family=Font2&display=swap"
            rel="stylesheet">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
        <script src="https://kit.fontawesome.com/46e6ebb4cd.js"
            crossorigin="anonymous"></script>
    </head>
    <body>
        <!--home section-->
        <section class="sub-header" style="background-image: url('{% static 'images/uoe_staff.jpg' %}');">

            <nav>
                <a href="uoe.html"><img src='{% static "images/uoe_logo.jpg" %}'></a>
                <div class="nav-links" id="navLinks">

                    <i class="fa fa-window-close" aria-hidden="true"
                        onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'course' %}">Course</a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>

                </div>
                <i class="fa fa-bars" aria-hidden="true" onclick="showMenu()"></i>
            </nav>
            <h1>Our Certificates & Online Programs 2023</h1>
        </section>

        <!---------blog page content----------->
        <section class="blog-content">

            <div class="row">
                <div class="blog-left">
                    <img src='{% static "images/graduant1.jpeg"  %}'alt>
                    <h2>Our Certificates & Online Programs 2023</h2>
                    <p>At the University of Eldoret, <br>
                        we offer a wide array of certificate programs designed
                        to meet the needs of learners from various backgrounds
                        and industries. <br>
                        These programs are carefully crafted by our experienced
                        faculty members and industry experts <br>
                        to provide you with practical skills and knowledge that
                        can be immediately applied in your professional life.
                        <br>
                        Our certificate programs cover a broad spectrum of
                        disciplines, including business, <br>
                        technology, healthcare, education, agriculture, and
                        more.

                        <br>Certificate courses offer specialized knowledge and practical skills that complement academic degrees.
                         They serve as valuable credentials, validating expertise and enhancing professional profiles. 
                         At the University of Eldoret, we offer a wide range of certificate courses designed to meet 
                         the needs of various industries and professions. <br>
            At the University of Eldoret, we understand the importance of equipping individuals with practical
             skills and knowledge that align with the demands of the job market. Our certificate courses cover
              a wide spectrum of disciplines, including business administration, computer science, agriculture,
              healthcare, environmental studies, and more. These courses are meticulously designed and delivered by 
              experienced faculty members and industry experts, ensuring that learners acquire relevant and up-to-date knowledge.</p>

              <div class="comment-box">
                <h3>Leave us a comment</h3>
                    <form action="" class="comment-form">
                        <input type="text" placeholder="Name">
                        <input type="email" placeholder="Email">
                        <textarea  rows="5" placeholder="Your Comment"></textarea>
                        <button type="submit" class="hero-btn">POST COMMENT</button>
                    </form>
              </div>





                </div>
                <div class="blog-right">
                    <h3>Post Categories</h3>
                    <div>
                        <span>Django Web Development</span>
                        <span>21</span>
                    </div>
                    <div>
                        <span>Artificial Intelligence</span>
                        <span>29</span>
                    </div>
                    <div>
                        <span>Machine Learning</span>
                        <span>12</span>
                    </div>
                    <div>
                        <span>Frontend Development</span>
                        <span>30</span>
                    </div>
                    <div>
                        <span>Machine Learning</span>
                        <span>18</span>
                    </div>
                    <div>
                        <span>Computer Science</span>
                        <span>20</span>
                    </div>
                    <div>
                        <span>Commerce</span>
                        <span>29</span>
                    </div>
                    <div>
                        <span>Education</span>
                        <span>34</span>
                    </div>
                </div>
            </div>
        </section>

        <!-------- footer------- -->
        <section class="footer">
            <h1>About Us</h1>
            <p> "Our Mission " <br> The University of Eldoret is
                committed to providing accessible and quality education,
                <br>
                fostering research and innovation, and nurturing ethical
                leaders who contribute to the development of society.
            </p>
            <div class="icons">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
            </div>
            <p>Made With <i class="fa fa-heart-o"></i> CodeWithDuncan</p>

        </section>

        <!--   --------javascript toggle menu-------->
        <script>

            var navLinks = document.getElementById('navLinks');

            function showMenu() {
                navLinks.style.right = "0";
            }

            function hideMenu() {
                navLinks.style.right = "-200px";
            }
        </script>

    </body>
</html>