{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password-UOE</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/uoe_logo_2.jpg' %}">
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <div class="class-login">
        <div>
            <style>
            h5{
              color: blue;
              text-align: left;
              font-family: 'Poppins', sans-serif;
              background-color: rebeccapurple;
            }
          </style>
            {%  for message in messages %}
            {{message}}
            {% endfor %}
          </div>
        <img src="{% static 'images/uoe_logo_2.jpg' %} "alt="">
        <h2>Recover Password for {{user.username}}</h2>
          {{ form.as_p }}
          
            <button type="submit" class="submit-btn">Change Password</button>

    </div>
    </form>
      <div class="footer">
        <br>
        <footer>
          <p>Powered by CodewithDancan International Limited</p>
        </footer>
      </div>
  </body>
</html>
